.input_large,
.input_small {
  position: relative;
}

.input__close-icon {
  position: absolute;

  & svg {
    fill: var(--color-dark-black);
  }
}

.input_large {
  display: flex;
  column-gap: 12px;
  align-items: center;
  width: 240px;
  padding: 16px;
  color: var(--color-mid-gray);
  border: 1px solid var(--color-mid-gray);
  border-radius: 8px;

  &:has(input:focus) {
    outline: 1px solid var(--color-dark-black);
  }

  & input {
    width: 170px;
    padding-right: 8px;
    font-size: 16px;
    line-height: 150%;
  }

  .input__close-icon {
    right: 10px;
  }
}

.input_small {
  & input {
    width: 178px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--color-dark-black);
  }

  & input:focus {
    border-bottom: 1px solid var(--color-dark-black);
  }

  & .input__close-icon {
    top: 12px;
    right: -20px;
  }
}

.input__icon {
  line-height: 0;
  fill: var(--color-mid-gray);
}
