.input_large,
.input_small {
  position: relative;
}

.input {
  &__close-icon {
    position: absolute;

    svg {
      fill: var(--color-dark-black);
    }
  }

  &__icon {
    fill: var(--color-mid-gray);
  }

  &_outlined {
    display: flex;
    column-gap: 12px;
    align-items: center;
    width: 240px;
    padding: 16px;
    color: var(--color-mid-gray);
    border: 1px solid var(--color-mid-gray);
    border-radius: 8px;

    &:has(input:focus) {
      outline: 1px solid var(--color-dark-black);
    }

    input {
      width: 170px;
      padding-right: 8px;
      font-size: 16px;
    }

    .input__close-icon {
      right: 10px;
    }
  }

  &_underlined {
    input {
      width: 178px;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: var(--color-dark-black);
      background: linear-gradient(
          var(--color-dark-black),
          var(--color-dark-black)
        )
        bottom / 100% 1px no-repeat;
    }

    .input__close-icon {
      top: 12px;
      right: -12px;
    }
  }

  &_small {
    width: 112px;

    input {
      width: 112px;
      font-size: 14px;
      line-height: 22px;
    }

    .input__close-icon {
      width: 6px;
      height: 6px;
    }
  }

  &_disabled {
    input {
      cursor: default;
      background: none;
    }

    .input__close-icon {
      display: none;
    }
  }
}
