.character-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 508px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 20%);

  a {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-dark-black);
    cursor: pointer;
  }

  &__wrapper {
    display: flex;
    column-gap: 12px;
  }

  &__portrait {
    width: 240px;
    height: 100%;
  }

  &__detail {
    padding: 4px 0;

    input {
      color: var(--color-mid-gray);
    }

    label {
      display: block;
      padding-bottom: 3px;
    }
  }

  &__actions {
    display: flex;
    margin-top: 6px;

    button {
      padding: 6px;
    }

    svg {
      fill: var(--color-dark-black);
    }
  }

  &__action-edit {
    display: none;
    margin-top: -6px;

    &:hover {
      cursor: pointer;
    }
  }

  .select-small {
    margin-left: -4px;
  }
}

.character-card:hover .character-card__action-edit {
  display: block;
}
