.status_alive,
.status_dead,
.status_unknown {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  border-radius: 100%;
}

.status_alive {
  background-color: #12b800;
}

.status_dead {
  background-color: #df0000;
}

.status_unknown {
  background-color: #ff9900;
}
