.status__alive,
.status__dead,
.status__unknown {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  border-radius: 100%;
}

.status__alive {
  background-color: #12b800;
}

.status__dead {
  background-color: #df0000;
}

.status__unknown {
  background-color: #ff9900;
}
