.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-info__logo {
  width: 600px;
  height: 200px;
}

.character-info__content {
  width: 100%;
}

.character-info__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}
