:root {
  --color-dark-black: #000000;
  --color-black: #212121;
  --color-white: #ffffff;
  --color-dark-gray: #3c3c3c;
  --color-mid-gray: #757575;
  --color-light-gray: #cacaca;

  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  position: relative;
}

button {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

input {
  border: none;
  font-family: inherit;
}

input:focus-visible {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: none;
}

.container-large {
  max-width: 1044px;
  margin: 0 auto;
}

.container-medium {
  max-width: 1022px;
  margin: auto;
}

.typography-h3 {
  font-family: 'Karla', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
